nav {
  font-family: "Dosis", sans-serif;
}

body {
  background-color: #fafafa;
}

.card {
  font-family: "Dosis", sans-serif;
}

p {
  font-size: 24px;
}

.btn-floating {
  font-family: "Dosis", sans-serif;
}
